@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;

    }

    #hamburger-nav{
        display: flex;

    }
}

.contact-wrapper{
    flex-direction: row;
    align-items: center;
}


